@page "/"

<AuthorizeView Roles= "Administrador">
    <Authorized Context= "AuthenticationState">
        <h1>Bienvendio Administrador </h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles= "Usuarario">
    <Authorized Context= "AuthenticationState">
        <h1>Bienvendio Usuario</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles= "Administrador">
    <NotAuthorized>
        <h2>Debe identificarse para poder acceder al sistema </h2>
    </NotAuthorized>
</AuthorizeView>